*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.counter {
    font-size: 75px;
    color: #DBAEAE;
}
.increase {
    width: 75px;
    height: 35px;
    border-radius: 14px;
}
.decrease {
    width: 75px;
    height: 35px;
    border-radius: 14px;
}
.reset {
    width: 75px;
    height: 35px;
    border-radius: 14px;
}
.text{
    font-size: 50px;
}

.increase:hover{
    transition: all;
    width: 80px;
    height: 40px;
    border-color: #E85F5F;
}
.decrease:hover{
    transition: all;
    width: 80px;
    height: 40px;
    border-color: #E85F5F;
}
.reset:hover{
    transition: all;
    width: 80px;
    height: 40px;
    border-color: #E85F5F;
}